/*Paleta de colores
BLANCO: #FFFFFF
FONDO1: #6688AF
FONDO2: #BC7283
ACENTUACION: #D6CC92
TEXTO: #1A2633
*/
html{
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  color: #1A2633;
}

img{
  max-width: 100%;
}

a:hover{
  opacity: 0.5;
}

td:hover, th:hover, .titulo:hover, .subtitulo:hover{
  cursor: default;
}

td, th{
   border: solid 0px;
}

.titulo{
  margin-top: 20px;
  text-align: center;
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}

.subtitulo{
  margin-top: 10px;
  text-align: left;
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  border-bottom: #D6CC92 solid 5px;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.creador{
  font-weight: bold;
}

.position{
  background-color: #D6CC92;
  padding: 0.3em;
  border-radius: 2em;
  margin-right: 0.5em;
}

.text{
  font-size: 20px;
}

.main-image{
  margin-right: 1em;
}

.fa-heart{
  color: #BC7283;
  font-size: 1.5em;
}

.fa-file-circle-exclamation{
  color: #B03652;
  font-size: 1.5em;
}

.t1{
  width: 100%;
  border-spacing: 1em;
}

.t1 td{
  text-align: left;
}

.t1 .verM{
  text-align: center;
}

.t1 th{
  font-size: 20px;
  text-align: center;
}

.t1 tr:nth-child(even){
  background-color: #DBD6D6;
}

.container{
  background: #BC7283; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6688AF, #BC7283); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6688AF, #BC7283); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  width: 100%;
  height: 100vh;
  margin-bottom:5px;
  padding: 1em;
  background-color: #F7F3F3;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 4px;
  position: relative;
  overflow: scroll;
}

td{
  display: block;
  width: 100%;
}
td:nth-of-type(1){
  font-size: 2em;
  font-weight: bold;
  color: #BC7283;
}
th{
  display: none;
}


.action{
  position: absolute;
  top: 0.4em;
  right: 0.4em;
}

.close{
  color: #D6CC92;
  display: inline-block;
  cursor: pointer;
}

.derecho{
  background: #BC7283; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6688AF, #BC7283); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6688AF, #BC7283); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 10px;
  align-items: center;
  justify-content: center;
}

@media (min-height: 500px) {
  .content{
    height: 550px;
  }
}

@media (min-width:700px) {
  .t1{
    margin-left: 1em;
    width: 95%;
    border-spacing: 1px;
  }
  th{
    display: table-cell;
  }
  td{
    width: auto;
    display: table-cell;
  }
  td:nth-of-type(1){
    font-size: 1em;
    font-weight: bold;
    color: #BC7283;
  }
  .content{
    max-width: 960px;
    max-height: 500px;
    margin-bottom: 10px;
    padding: 1.2em;
  }
  .subtitulo{
    margin-top: 10px;
    text-align: left;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-size: 35px;
    font-style: normal;
    border-bottom: #D6CC92 solid 5px;
    padding-bottom: 25px;
    margin-bottom: 10px;
  }
  .fa-heart{
    font-size: 10px;
  }
  .fa-file-circle-exclamation{
    font-size: 1em;
  }
  .main-image{
    float: left;
    margin-right: 1em;
    height: 340px;
  }
  .action{
    position: absolute;
    top: 1em;
    right: 1em;
  }
  .close{
    color: #D6CC92;
    display: inline-block;
    cursor: pointer;
  }
  .derecho{
    background: #BC7283; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6688AF, #BC7283); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6688AF, #BC7283); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: center;
    font-size: 1em;
    justify-content: center;
  }
}
